{% extends 'base.html' %}

{% block title %} 
{{pgtitle}} -- yesnt.ga 
{% endblock %}

{% block prestrap %} 
{% endblock %}

{% block poststrap %} 
{% endblock %} 

{% block body %}
<div id="sex">
  <img src="/static/image/monky.webp" height="256">
  <audio autoplay loop id="hw17">
    <source src="/static/monke.mp3" type="audio/ogg">
    my brother in christ your browser does not work
</audio>
</div>
  <script>
    var a = document.getElementById("hw17");
    a.onended = function() { 
        close();
    }
    function balz() {
        a.play();
    }
    document.addEventListener("DOMContentLoaded", function(e) {
        if(a.paused) {
            const btn = document.createElement("button");
            btn.innerText = "monke";
            btn.onclick = balz;
            document.getElementById("sex").appendChild(btn)
        }
    })
    
</script>
{% endblock %}