<!DOCTYPE html>
<!-- copied from chrome -->
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <meta property="og:video" content="{{url}}">
    <meta property="og:video:secure_url" content="{{url}}">
    <meta property="og:video:width" content="480">
    <meta property="og:video:height" content="368">
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:type" content="video.other">
    <meta name="twitter:card" content="summary_large_image">
    <title>{{url}}</title>
</head>
<body style="margin: 0px; background: #0e0e0e; height:100%">
<video autoplay controls muted>
    <source src="{{url}}" type="video/mp4">sus
</video>
</body>
</html>